/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  background: url("../img/hero-bg.jpg") top center;
}
