{% extends "layout.html" %}

{% block content %}
  <!--CSS styles-->
  <link href="{{url_for('static', filename='assets/css/covid.css')}}" rel="stylesheet"/>
  <section class="dark-bg"></section>
  <!-- ======= intro Section ======= -->
  <section class="dark-bg">
    <h2>COVID-19</h2>
    <p>
        Following all <a href="https://www.cdc.gov/coronavirus/2019-ncov/community/organizations/gym-employers.html">CDC recommendations</a>
        to protect you and minimize the threat of COVID-19
    </p>
  </section>
  <!-- End intro -->
  <!-- ======= About Us Section ======= -->
   <section class="about" id="about">
    <div class="container">
     <div class="section-title">
      <h2>
       Doing Our Part
      </h2>
      <p>
       I do everything I can to maximize the safety and comfort of my clients. If you have any particular requests
       in addition to my standard precautions, I am more than happy to use them.
      </p>
     </div>
     <div class="row content">
      <div class="col-lg-6">
       <ul>
        <li>
         <i class="ri-check-double-line">
         </i>
          All equipment is completely sanitized after each session.
        </li>
        <li>
         <i class="ri-check-double-line">
         </i>
          Body-weight excercises can be substituted for those concerned with surface transmission
        </li>
        <li>
         <i class="ri-check-double-line">
         </i>
            No common spaces are necessary
        </li>
       </ul>
      </div>
      <div class="col-lg-6">
       <ul>
        <li>
         <i class="ri-check-double-line">
         </i>
          Safety remains the top priority
        </li>
        <li>
         <i class="ri-check-double-line">
         </i>
          All sessions can be postponed or cancelled if you are in any way feeling unwell
        </li>
        <li>
         <i class="ri-check-double-line">
         </i>
          Mobile Firehouse Fitness started from the COVID-19 pandemic with safety and comfort as the top priorities
        </li>
       </ul>
      </div>
     </div>
    </div>
   </section>
    <!-- End About Us Section -->

{% endblock content %}
