{% extends "layout.html" %}

{% block content %}
<section id="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Training Gallery</h2>
      <p>
        I take pride in providing my trainees with a custom tailored workout experience.
        Check out what Mobile Firehouse Fitness is all about!
      </p>
    </div>

    <div class="row portfolio-container">
      {% for photo in photos %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="{{url_for('static', filename=photo)}}" class="img-fluid" alt="">
        </div>
      {% endfor %}

    </div>

  </div>
</section><!-- End Portfolio Section -->

{% endblock content %}
