{% extends "layout.html" %}

{% block content %}
<!--CSS styles-->
<link href="{{url_for('static', filename='assets/css/home.css')}}" rel="stylesheet" />
<!-- ======= Hero Section ======= -->
<section class="d-flex flex-column justify-content-center" id="hero">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <h1>
          Mobile Firehouse Fitness
        </h1>
        <h2>
          Training <span style="color: red;">Reimagined</span>
        </h2>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
<!-- ======= About Us Section ======= -->
<section class="about" id="about">
  <div class="container">
    <div class="section-title">
      <h2>
        About Me - Oliver James
      </h2>
      <p>
        I’ve always had a passion for fitness and was actively involved in sports throughout my entire life, including
        football, basketball and track. I am a Personal Trainer receiving my certification from the Internal Sports
        Sciences Association (ISSA) in June 2016.
      </p>
    </div>
    <div class="row content">
      <div class="col-lg-6">
        <ul>
          <li>
            <i class="ri-check-double-line">
            </i>
            Focused on accountability across the board
          </li>
          <li>
            <i class="ri-check-double-line">
            </i>
            Work with clients to provide the highest level of training in a safe and clean environment
          </li>
          <li>
            <i class="ri-check-double-line">
            </i>
            Making personal and group training as easy and accessible as possible
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Mobile Firehouse Fitness is one of the most convenient, reliable, mobile gym services in the Lehigh Valley,
          focusing on bringing the gym to you on your time to fit your schedule as best possible.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
<!-- ======= Cta Section ======= -->
<section class="cta" id="cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
        <h3>
          No Excuses
        </h3>
        <p>
          No excuses anytime, anywhere. If you want to improve your fitness, it's as easy as picking up the phone.
        </p>
      </div>
      <div class="col-lg-3">
        <a href="https://m.facebook.com/story.php?story_fbid=10223292304045507&id=1522116146"
          class="play-btn mb-4 vbox-item" target="_blank"></a>
      </div>
    </div>
  </div>
</section>
<!-- End Cta Section -->
<!-- ======= Services Section ======= -->
<section class="services" id="trainingPhilosophy">
  <div class="container">
    <div class="section-title">
      <h2>
        Training Philosophy
      </h2>
      <div class="row">
        <div class="col-lg-7">
          <p>
          My philosophy focuses on lifelong learning as I work towards improving the well-being of my clients by
          empowering them the knowledge, support, skills, guidance and resources to assist and inspire them on their
          journey to a healthier life. Fitness is here to be enjoyed. Fitness provides us with the ability to enjoy a
          healthy active lifestyle. The best part about it is that you get to choose your own fitness journey. I am a
          certified personal trainer that specializes in one-on-one training as well as group classes that are effective,
          creative, and fun with high-energy levels.
          </p>
        </div>
        <div class="col-lg-5 cover">
          <img src="{{url_for('static', filename='assets/img/home/firehouse.jpg')}}">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
<!-- ======= Counts Section ======= -->
<section class="counts" id="counts">
  <div class="container">
    <div class="text-center title">
      <h3>
        What we have achieved so far
      </h3>
    </div>
    <div class="row counters justify-content-center">
      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">
          1000
        </span>
        <p>
          Unique Clients Trained
        </p>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">
          30
        </span>
        <p>
          Sessions per Week
        </p>
      </div>
      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">
          100
        </span>
        <p>
          Pieces of Mobilized Equipment
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->
<!-- ======= Faq Section ======= -->
<section class="faq" id="faq">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
        <div class="content">
          <h3>
            Frequently Asked
            <strong>
              Questions
            </strong>
          </h3>
        </div>
        <div class="accordion-list">
          <ul>
            <li>
              <a class="collapse" data-toggle="collapse" href="#accordion-list-1">
                What are your prices?
                <i class="bx bx-chevron-down icon-show">
                </i>
                <i class="bx bx-chevron-up icon-close">
                </i>
              </a>
              <div class="collapse show" data-parent=".accordion-list" id="accordion-list-1">
                <p>
                  Prices vary based on times, days, and traveling distances.
                </p>
              </div>
            </li>
            <li>
              <a class="collapsed" data-toggle="collapse" href="#accordion-list-2">
                How did this get started?
                <i class="bx bx-chevron-down icon-show">
                </i>
                <i class="bx bx-chevron-up icon-close">
                </i>
              </a>
              <div class="collapse" data-parent=".accordion-list" id="accordion-list-2">
                <p>
                  I had a studio gym until late 2019. Upon the rise of COVID-19, I began to innovate
                  and mobilized my services, creating more comfortable and reliable gym services
                  for my clients.
                </p>
              </div>
            </li>
            <li>
              <a class="collapsed" data-toggle="collapse" href="#accordion-list-3">
                Where are you located?
                <i class="bx bx-chevron-down icon-show">
                </i>
                <i class="bx bx-chevron-up icon-close">
                </i>
              </a>
              <div class="collapse" data-parent=".accordion-list" id="accordion-list-3">
                <p>
                  I primarily travel within the Lehigh Valley, but I am available across eastern Pennsylvania.
                  In addition, I hold weekly sessions at outdoor spaces across the Lehigh Valley.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
        style='background-image: url("static/assets/img/faq.jpg");'>
      </div>
    </div>
  </div>
</section>
<!-- End Faq Section -->
<!-- ======= Testimonials Section ======= -->
<section id="pricing" class="pricing center">
  <div class="container">

    <div class="section-title">
      <h2>Testimonials</h2>
    </div>

    <div class="row center">
      <div class="col-lg-6 col-md-6">
        <div class="box">
          <h3>Bill Hinchey - CMO at CryoConcepts-Esthetics</h3>
          <div class="row">
            <div class="testimonial-image col-lg-6">
              <ul>
                <li>I’m 59 years old and in better shape than when I was 39!</li>
                <li>Working out with Oliver has helped me achieve my fitness goals. Plus he plays the best music in the
                  Lehigh Valley!</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <img class="image testimonial-image col-lg-12 order-1 order-lg-2"
                src="{{url_for('static', filename='assets/img/home/testimonials/runner.jpg')}}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="box">
          <h3>Mike Gausling - Happy Client and Friend</h3>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li>I am the owner of the Victory Firehouse and was thrilled to train with my friends by Oliver, owner
                  of Mobile Firehouse Fitness, 3-4 times per week for the past several years in the Firehouse gym.</li>
                <li>Due to COVID, we now work out with Oliver in my man cave at home or in my driveway with his mobile
                  van.</li>
                <li>As an avid golfer, biker, and hiker, Oliver does a great job of mixing up our workouts for core,
                  balance, and strength.</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <img class="image testimonial-image col-lg-12 order-1 order-lg-2"
                src="{{url_for('static', filename='assets/img/home/testimonials/mike_gausling.jpg')}}">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Pricing Section -->
<!-- ======= Review Section ======= -->
<section class="about" id="reviews">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col">
          <h2>
            Reviews
          </h2>
        </div>
        <div class="col">
            <select class="dropdown btn get-started-btn dropdown-toggle" aria-labelledby="dropdownMenuButton" id="sortingDropdown">
              <option class="dropdown-item" selected="select">Most recent</option>
              <option class="dropdown-item">Best</option>
              <option class="dropdown-item">Worst</option>
            </select>
        </div>
        <div class="col">
            <select class="dropdown btn get-started-btn dropdown-toggle" aria-labelledby="dropdownMenuButton" id="limitDropdown">
              <option class="dropdown-item" href="#">5</option>
              <option class="dropdown-item" href="#">10</option>
              <option class="dropdown-item" href="#">20</option>
              <option class="dropdown-item" href="#">50</option>
            </select>
        </div>
      </div>
    </div>
    <div class="content">
      {% raw %}
        <template id="reviewTemplate">
          <li class="list-group-item">
            <div class="row">
              <div class="col-6">
                <h3>{{{name}}}</h3>
                <p>
                  <span>
                    {{{review_text}}}
                  </span>
                </p>
              </div>
              <!--Make a star column-->
              <div class="col-4">
                <div id="starSection">
                  <p id="dateSection">{{{date}}}</p>
                </div>
              </div>
            </div>
          </li>
        </template>
        {% endraw %}
      <ul class="list-group" id="pastReviewSection">
        <li class="list-group-item">
          <div class="row">
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-6">
              <h3>Your name</h3>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <div class="col-2">03/09/2020</div>
          </div>
          <div class="row">
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-6">
              <p>
                <span>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                  the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                  and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                  leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                  with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                  publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </span>
              </p>
            </div>
          </div>
        </li>
        <li class="list-group-item" id="newReview">
          <div class="row">
            <div class="col">
              <h3>Review Mobile Firehouse Fitness</h3>
              <div id="formErrors"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <form action="POST" id="reviewForm">
                <div class="row">
                  <div class="col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4 p-3">
                    <input type="text" placeholder="Your Name" id="nameInput">
                  </div>
                  <div class="col-9 col-sm-9 col-md-4 col-lg-4 col-xl-4 p-3 starrating" id="starInput">
                    <input type="radio" id="star1" name="rating" value="1">
                    <label class="fa fa-star" for="star1" onclick="toggleRating(this)" value="1"></label>
                    <input type="radio" id="star2" name="rating" value="2">
                    <label class="fa fa-star" for="star2" onclick="toggleRating(this)" value="2"></label>
                    <input type="radio" id="star3" name="rating" value="3">
                    <label class="fa fa-star" for="star3" onclick="toggleRating(this)" value="3"></label>
                    <input type="radio" id="star4" name="rating" value="4">
                    <label class="fa fa-star" for="star4" onclick="toggleRating(this)" value="4"></label>
                    <input type="radio" id="star5" name="rating" value="5">
                    <label class="fa fa-star" for="star5" onclick="toggleRating(this)" value="5"></label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-9 col-lg-9 col-xl-9 p3">
                    <textarea name="Review" placeholder="Review" rows="5" style="min-width: 100%" id="reviewInput"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col p3">
                    <button type="submit" class="btn-learn-more">Submit</button>
                    <div id="submitField"></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End Review Section -->
<!-- ======= Contact Section ======= -->
<section class="contact" id="contact">
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="info">
          <div class="section-title">
            <h2>
              Contact
            </h2>
          </div>
          <div class="email">
            <i>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-display" fill="#009961" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.75 13.5c.167-.333.25-.833.25-1.5h4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75z"/>
                <path fill-rule="evenodd" d="M13.991 3H2c-.325 0-.502.078-.602.145a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
              </svg>
            </i>
            <h4>
              Email:
            </h4>
            <p>
              <a href="mailto:">
                oliver@mobilefirehousefitness.com
              </a>
            </p>
          </div>
          <div class="phone">
            <i class="ri-phone-line">
            </i>
            <h4>
              Call:
            </h4>
            <p>
              <a href="tel:+14843796510">
                +1 (484) 379-6510
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <p style="margin-top: 30%">
          Feel free to call or text me at any time. I would be happy to answer your questions
          and chat about your unique fitness journey.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
<script src="{{url_for('static', filename='assets/js/reviews.js')}}"></script>
{% endblock content %}
