<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Mobile Firehouse Fitness
  </title>
  <meta content="" name="descriptison"/>
  <meta content="" name="keywords"/>
  <!-- Favicons -->
  <link href="{{url_for('static', filename='assets/img/favicon.png')}}" rel="icon"/>
  <link href="{{url_for('static', filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon"/>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>
  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
  <link href="{{url_for('static', filename='assets/vendor/icofont/icofont.min.css')}}" rel="stylesheet"/>
  <link href="{{url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet"/>
  <link href="{{url_for('static', filename='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet"/>
  <link href="{{url_for('static', filename='assets/vendor/venobox/venobox.css')}}" rel="stylesheet"/>
  <link href="{{url_for('static', filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css')}}" rel="stylesheet"/>
  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='assets/css/style.css')}}" rel="stylesheet"/>
  <!-- =======================================================
  * Template Name: KnightOne - v2.1.0
  * Template URL: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
 </head>
 <body>
  <!-- ======= Header ======= -->
  <header class="fixed-top" id="header">
   <div class="container-fluid">
    <div class="row justify-content-center">
     <div class="col-xl-9 d-flex align-items-center justify-content-between">
      <h1 class="logo">
       <a href="{{url_for('home')}}">
        Mobile Firehouse Fitness
       </a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav class="nav-menu d-none d-lg-block">
       <ul>
        <li>
         <a href="#about">
          About
         </a>
        </li>
        <li>
         <a href="#trainingPhilosophy">
          Training Philosophy
         </a>
        </li>
        <li>
         <a href="#contact">
          Contact
         </a>
        </li>
       </ul>
      </nav>
      <!-- .nav-menu -->
     </div>
    </div>
   </div>
  </header>
  <!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section class="d-flex flex-column justify-content-center" id="hero">
   <div class="container">
    <div class="row justify-content-center">
     <div class="col-xl-8">
      <h1>
       Mobile Firehouse Fitness
      </h1>
      <h2>
        Training reimagined
      </h2>
     </div>
    </div>
   </div>
  </section>
  <!-- End Hero -->
  <main id="main">
   <!-- ======= About Us Section ======= -->
   <section class="about" id="about">
    <div class="container">
     <div class="section-title">
      <h2>
       About Me - Oliver James
      </h2>
      <p>
       I’ve always had a passion for fitness and was actively involved in sports throughout my entire life, including football, basketball and track. I received my certification for personal training through Internal Sports Sciences Association (ISSA) in June 2016.
      </p>
     </div>
     <div class="row content">
      <div class="col-lg-6">
       <ul>
        <li>
         <i class="ri-check-double-line">
         </i>
          Focused on accountability across the board
        </li>
        <li>
         <i class="ri-check-double-line">
         </i>
          Working with clients to provide the safest, cleanest environment possible
        </li>
        <li>
         <i class="ri-check-double-line">
         </i>
            Doing my best to make personal and group training as easy and accessible as possible
        </li>
       </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
       <p>
        Mobile Firehouse Fitness is one of the most convenient, reliable, mobile gym services in the Lehigh Valley.
        I focus on bringing the gym to you on your time to fit your schedule as best possible.
       </p>
      </div>
     </div>
    </div>
   </section>
   <!-- End About Us Section -->
   <!-- ======= Cta Section ======= -->
   <section class="cta" id="cta">
    <div class="container">
     <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
       <h3>
        No Excuses
       </h3>
       <p>
        No excuses anytime, anywhere. If you want to improve your fitness, it's as easy as picking up the phone.
       </p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
       <a class="cta-btn align-middle" href="tel:+14843796510">
        Call now!
       </a>
      </div>
     </div>
    </div>
   </section>
   <!-- End Cta Section -->
   <!-- ======= Services Section ======= -->
   <section class="services" id="trainingPhilosophy">
    <div class="container">
     <div class="section-title">
      <h2>
      Training Philosophy
      </h2>
      <p>
       My philosophy focuses on lifelong learning as I work towards improving the well-being of my clients by empowering them the knowledge, support, skills, guidance and resources to assist and inspire them on their journey to a healthier life. Fitness is here to be enjoyed. Fitness provides us with the ability to enjoy a healthy active lifestyle. The best part about it is that you get to choose your own fitness journey. I am a certified personal trainer that specializes in one-on-one training as well as group classes that are creative and fun with high energy levels.
      </p>
     </div>
    </div>
   </section>
   <!-- End Services Section -->
   <!-- ======= Counts Section ======= -->
   <section class="counts" id="counts">
    <div class="container">
     <div class="text-center title">
      <h3>
       What we have achieved so far
      </h3>
     </div>
     <div class="row counters justify-content-center">
      <div class="col-lg-3 col-6 text-center">
       <span data-toggle="counter-up">
        1000
       </span>
       <p>
        Unique Clients Trained
       </p>
      </div>
      <div class="col-lg-3 col-6 text-center">
       <span data-toggle="counter-up">
        30
       </span>
       <p>
        Sessions per Week
       </p>
      </div>
      <div class="col-lg-3 col-6 text-center">
       <span data-toggle="counter-up">
        100
       </span>
       <p>
        Pieces of Mobilized Equipment
       </p>
      </div>
     </div>
    </div>
   </section>
   <!-- End Counts Section -->
   <!-- ======= Faq Section ======= -->
   <section class="faq" id="faq">
    <div class="container-fluid">
     <div class="row">
      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
       <div class="content">
        <h3>
         Frequently Asked
         <strong>
          Questions
         </strong>
        </h3>
       </div>
       <div class="accordion-list">
        <ul>
         <li>
          <a class="collapse" data-toggle="collapse" href="#accordion-list-1">
           What are your prices?
           <i class="bx bx-chevron-down icon-show">
           </i>
           <i class="bx bx-chevron-up icon-close">
           </i>
          </a>
          <div class="collapse show" data-parent=".accordion-list" id="accordion-list-1">
           <p>
           Prices vary based on times, days, and traveling distances.
           </p>
          </div>
         </li>
         <li>
          <a class="collapsed" data-toggle="collapse" href="#accordion-list-2">
           How did this get started?
           <i class="bx bx-chevron-down icon-show">
           </i>
           <i class="bx bx-chevron-up icon-close">
           </i>
          </a>
          <div class="collapse" data-parent=".accordion-list" id="accordion-list-2">
           <p>
            I used to own a studio gym until late 2019. Upon the rise of the COVID-19, I began to innovate
            and mobilized my services. This allowed me to create a more comfortable and reliable gym service
            for my clients.
           </p>
          </div>
         </li>
         <li>
          <a class="collapsed" data-toggle="collapse" href="#accordion-list-3">
           Where are you located?
           <i class="bx bx-chevron-down icon-show">
           </i>
           <i class="bx bx-chevron-up icon-close">
           </i>
          </a>
          <div class="collapse" data-parent=".accordion-list" id="accordion-list-3">
           <p>
            I primarily travel within the Lehigh Valley but am available across eastern Pennsylvania.
            In addition, I hold weekly sessions at outdoor spaces across the valley.
           </p>
          </div>
         </li>
        </ul>
       </div>
      </div>
      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("static/assets/img/faq.jpg");'>
      </div>
     </div>
    </div>
   </section>
   <!-- End Faq Section -->
   <!-- ======= Contact Section ======= -->
   <section class="contact" id="contact">
    <div class="container">
     <div class="row mt-5">
      <div class="col-lg-4">
       <div class="info">
        <div class="section-title">
          <h2>
           Contact
          </h2>
        </div>
       <i class="ri-mail-line">
       </i>
       <h4>
        Email:
       </h4>
       <p>
         <a href="mailto:">
          oliver@mobilefirehousefitness.com
         </a>
       </p>
        <div class="phone">
         <i class="ri-phone-line">
         </i>
         <h4>
          Call:
         </h4>
         <p>
           <a href="tel:+14843796510">
          +1 (484) 379-6510
         </a>
         </p>
        </div>
       </div>
      </div>
      <div class="col-lg-4">
        <p style="margin-top: 30%">
         Feel free to call or text me at any time. I would be happy to chat about your unique fitness journey.
        </p>
      </div>
     </div>
    </div>
   </section>
   <!-- End Contact Section -->
  </main>
  <!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
   <div class="container">
    <h3>
     Mobile Firehouse Fitness
    </h3>
    <div class="social-links">
     <a class="instagram" href="https://www.instagram.com/mobilefirehousefitness/">
      <i class="bx bxl-instagram">
      </i>
     </a>
     <a href="https://www.facebook.com/oliversfirehousefitness/" class="facebook">
      <i class="bx bxl-facebook"></i>
    </a>
    </div>
    <div class="copyright">
     Created with
      <span>
       <a href="https://entredeveloperslab.com">EntreDevelopers Lab</a>
      </span>
    </div>
   </div>
  </footer>
  <!-- End Footer -->
  <div id="preloader">
  </div>
  <a class="back-to-top" href="#">
   <i class="ri-arrow-up-line">
   </i>
  </a>
  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='assets/vendor/jquery/jquery.min.js')}}">
  </script>
  <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}">
  </script>
  <script src="{{url_for('static', filename='assets/vendor/jquery.easing/jquery.easing.min.js')}}">
  </script>
  <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js')}}">
  </script>
  <script src="{{url_for('static', filename='assets/vendor/waypoints/jquery.waypoints.min.js')}}">
  </script>
  <script src="{{url_for('static', filename='assets/vendor/counterup/counterup.min.js')}}">
  </script>
  <script src="{{url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}">
  </script>
  <script src="{{url_for('static', filename='assets/vendor/venobox/venobox.min.js')}}">
  </script>
  <script src="{{url_for('static', filename='assets/vendor/owl.carousel/owl.carousel.min.js')}}">
  </script>
  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='assets/js/main.js')}}">
  </script>
 </body>
</html>
